{% extends 'common/base.html' %}
{% load staticfiles %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/icon.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
{% endblock %}

{% block title %}

{% endblock %}

{% block body %}
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="{% static 'img/face.jpg' %}" style="width:45%;" class="w3-round"><br><br>
    <h3><b>Dark Cat</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url "blog:blog" %}" onclick="w3_close()" data-path="/blog/blog/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book  w3-margin-right"></i>CAT FOOD</a>
    <!-- <a href=" onclick=w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-tool fa-fw w3-margin-right"></i>TOOLS</a> -->
    <a href="{% url "nav:nav" %}" onclick="w3_close()" data-path="/nav/nav/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-link w3-margin-right"></i>LINKS</a>
    <a href="{% url "blog:about" %}" onclick="w3_close()" data-path="/blog/about/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-about w3-margin-right"></i>ABOUT</a>
  </div>
  <div class="w3-panel w3-large">
    {% for personlink in personlinks %}
    <a href="{{ personlink.link }}"><i class="fa fa-{{ personlink.name }} w3-hover-opacity"></i></a>
    {% endfor %}
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

{% block content %}
{% endblock %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
$("a[data-path='{{ request.path }}']").addClass('w3-text-teal');
</script>

{% block script %}
{% endblock %}

</body>
{% endblock %}
