.self-item-header{
  padding: 30px 0 15px 25px;
  padding-left: 7.6923%
}
.self-item-body{
  border-top: none;
  margin: 0;
  padding-top: 0;
  min-height: 0;
  text-align: right;
}
.self-item-body-tag{
  float: left;
}
.self-item-body-cate{
  float: left;
}
.self-item-header-time{
  float:right;
}
.self-item-header a{
  text-decoration: none;
}
.self-item-body a{
  background: #ba8f6c;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 0 5px 0 10px;
    position: relative;
    border-radius: 0 5px 5px 0;
    margin: 5px 9px 5px 8px;
}
.self-item-body a:before{
  content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -18px;
    border: 9px solid transparent;
    border-right-color: #ba8f6c;
}
.self-item-body a:after{
  content: " ";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    position: absolute;
    top: 7px;
    left: 2px;
}
.main{
  min-height: 400px;
}
.self-item{
  border-bottom: 1px solid #ccc;
}
