{% extends 'common/base_nav.html' %}
{% load staticfiles %}
{% load tag %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/icon.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/color.css' %}">
{% endblock %}

{% block title %}
<title>Blog | Dark Cat</title>
{% endblock %}

{% block main %}

  <!-- Header -->
  <header id="catfood">
    <a href="#"><img src="{% static 'img/face.jpg' %}" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-menus"></i></span>
    <div class="w3-container">
    <h1><b>Cat Food</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <a href="{% url 'blog:blogfilter' 'all' 0 %}" class="w3-button w3-black">ALL</a>
      {% for cate in cates %}
        <a href="{% url 'blog:blogfilter' 'cate' cate.id %}" class="w3-button w3-white w3-hide-small self-btn-filter" ><i class="fa fa-cate w3-margin-right"></i>{{ cate.name }}</a>
      {% endfor %}
    </div>
    </div>
  </header>

  <div class="w3-container main">
    {% for article in articles %}
    <div class="w3-cell-row self-item">
      <div class="w3-container self-item-header w3-margin-right">
        <a href="{% url 'blog:blogArticle' article.id %}">{{ article.title }}</a>
        <span class="self-item-header-time"><i></i>{{ article.modified_time|date:'Y-m-d' }}</span>
      </div>
      <div class="w3-container self-item-body">
        <div class="self-item-body-tag">
          <i class="fa fa-tag"></i>
          {% for tag in article.tags.all %}
          <a href="{% url 'blog:blogfilter' 'tag' tag.id %}">{{ tag.name }}</a>
          {% endfor %}
        </div>
        <div class="self-item-body-cate">
          <i class="fa fa-cate"></i><a href="{% url 'blog:blogfilter' 'cate' article.category.id %}">{{ article.category }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      {% if articles.has_previous %}
        <a href="?page={{ articles.previous_page_number }}" class="w3-bar-item w3-button w3-hover-black"> &lt;&lt; </a>
      {% else %}
        <button class="w3-bar-item w3-button w3-hover-black" disabled> &lt;&lt; </button>
      {% endif %}

      <span class="current">
        {% if articles.paginator.num_pages|gt:'5' %}
          {% for num in articles.number|cut_page:'2'|cut2_page:articles.paginator.num_pages %}
            {% ifequal articles.number num %}
              <a href="?page={{ num }}" class="w3-bar-item w3-button w3-black">{{ num }}</a>
            {% else %}
              <a href="?page={{ num }}" class="w3-bar-item w3-hover-black w3-button">{{ num }}</a>
            {% endifequal %}
          {% endfor %}
        {% else %}
          {% for num in articles.paginator.page_range %}
            {% ifequal articles.number num %}
              <a href="?page={{ num }}" class="w3-bar-item w3-button w3-black">{{ num }}</a>
            {% else %}
              <a href="?page={{ num }}" class="w3-bar-item w3-hover-black w3-button">{{ num }}</a>
            {% endifequal %}
          {% endfor %}
        {% endif %}

          <!-- Page {{ articles.number }} of {{ articles.paginator.num_pages }}. -->
      </span>

      {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}" class="w3-bar-item w3-button w3-hover-black"> &gt;&gt; </a>
      {% else %}
        <button class="w3-bar-item w3-button w3-hover-black" disabled> &gt;&gt; </button>
      {% endif %}
    </div>
  </div>






{% endblock %}

{% block script %}

{% endblock %}
