{% extends 'common/base_nav.html' %}
{% load staticfiles %}


{% block title %}
<title>Nav | Dark Cat</title>
{% endblock %}

{% block content %}
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="catfood">
    <a href="#"><img src="{% static 'img/face.jpg' %}" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-menus"></i></span>
    <div class="w3-container">
    <h1><b>Links</b></h1>
    </div>
  </header>

  <div class="w3-row-padding w3-margin-top">
    {% for nav in navs %}
    <div class="w3-third">
      <div class="w3-card-4 w3-margin-bottom w3-margin-top">
        <div class="w3-container">
        <h5><b>{{ nav.title }}</b></h5>
        <h6>更新日期, <span class="w3-opacity">{{ nav.modified_time }}</span></h6>
        <p>
          <a href="{{ nav.link }}"><button class="w3-button w3-padding-small w3-white w3-border"><b>链接</b></button></a>
        </p>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>




</div>
{% endblock %}
