{% load staticfiles %}
{% load tag %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/tool.css' %}">
  <title>Tool | Dark Cat</title>
</head>
<body>
  <header class="container-fuild bg-dark">
    <a href="{% url 'tool:exit' %}" class="float-right text-white ">退出</a>
    <div class="clearfix"></div>
  </header>


  {% if tools %}
    {% for tool in tools %}
      <div class="tool">
        <h2 class='tool-title'>{{ tool.title }}</h2>
        <p>更新时间: <span class='date'>{{ tool.modified_time|date:'Y-y-d' }}</span></p>
        <p>本地下载链接:{% if tool.local_link %} <a href="{{ tool.local_link }}" class="item">本地下载</a> {% endif %}</p>
        <p>外部下载链接:
          {% for link in tool.extral_link|str_split:';' %}
          <a href="{{ link|str_split:'@'|list_index:'1'}}" target="_blank" class="item">{{ link|str_split:'@'|list_index:'0'}}</a>
          {% endfor %}</p>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <p>没有工具</p>
  {% endif %}

</body>
</html>
